<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <%- include('includes/links.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include('includes/navigation.ejs') %>
      <main>
        <h1>Page Not Found!</h1>
      </main>
      <%- include('includes/footer.ejs') %>
    </div>
    <%- include('includes/scripts.ejs') %>
  </body>
</html>
